In [1]:
import pandas as pd
import joblib
import numpy as np
import category_encoders

In [2]:
mestimate_encoder = joblib.load("pages/pkl/mestimate_encoder.pkl")

In [3]:
test = pd.DataFrame([{
        "Gender": "Male",
        "Married": "Single",
        "Dependents": "1",
        "Education": "Graduate",
        "Self_Employed": "Yes",
        "ApplicantIncome": 100,
        "CoapplicantIncome": 100,
        "LoanAmount": 100,
        "Loan_Amount_Term": 360,
        "Credit_History": 1.0,
        "Property_Area": "Urban",
        "TotalIncome": 200,
        "Loan_Income_Ratio": 0.5
    }])

In [4]:
test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,TotalIncome,Loan_Income_Ratio
0,Male,Single,1,Graduate,Yes,100,100,100,360,1.0,Urban,200,0.5

In [5]:
test.dtypes

Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount             int64
Loan_Amount_Term       int64
Credit_History       float64
Property_Area         object
TotalIncome            int64
Loan_Income_Ratio    float64
dtype: object

In [6]:
encoded_df = mestimate_encoder.transform(test)

In [7]:
encoded_df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,TotalIncome,Loan_Income_Ratio
0,0.691196,0.687296,1,0.708116,0.683178,100,100,100,360,1.0,0.659113,200,0.5